<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Aplo Appointment App</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/javascripts/script.js" charset="utf-8"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/stylesheets/styles.css" media="screen" title="no title" charset="utf-8">
		<style type="text/css">.tk-sofia-pro-soft{font-family:"sofia-pro-soft",sans-serif;}.tk-sofia-pro{font-family:"sofia-pro",sans-serif;}</style>
		<link rel="stylesheet" href="https://use.typekit.net/c/6ac55d/1w;sofia-pro,7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191,cX2:V:i4,cWx:V:n3,cX1:V:n4,cWs:V:n7;sofia-pro-soft,7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191,cXD:V:n4/d?3bb2a6e53c9684ffdc9a9bf21d5b2a62e197b8a35fd0ae87d83f8c390f5215209ca2ce38a6f4bdb17b668fe957eb2de01840fedaec1389565b61fe186c2d1ecbd271cd3af478ca6aa4a57e38ec53f20ef53a94413bcc74d16fba4d588711fa5293890aa8d95a4a31ee99c79c3c5bf7edf5f63bf01a99d09af46281558c818b6c53d13663fee05e29665ab0370fe12f91c78a3e" media="all">
	</head>
	<body>
		<div class="container-liquid">
			<h1 class="title">Hello World!!</h1>
		</div>
	</body>
</html>
