body{
	background: #ecf0f0;
	color: #414141;
	font-family: sofia-pro,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.title{
	font-family: sofia-pro-soft,Georgia,'Times New Roman',serif;
	font-size: 5em;
}
